= form_for [spina, :admin, @article], html: { autocomplete: "off" } do |f|
  - content_for :notification_alert do
    = error_explanation!(@article)

  #page_content.tab-content.active
    .table-container
      %table.table.table-form
        %tr
          %td
            Title
          %td
            = f.text_field :title
        %tr
          %td
            Teaser
            %small
              Summary of the article that will appear on the listings page
          %td
            = f.text_area :teaser
        %tr
          %td
            Body
          %td
            = render 'spina/admin/shared/rich_text_field', f: f, field: :body
        %tr
          %td
            Photo
          %td
            = link_to spina.photo_select_admin_photos_path(f.object_name, selected_photo_id: (f.object.photo_id if f.object.photo_id.present?), hidden_field_id: 'photo_id'), remote: true, class: "media_picker" do
              - if f.object.photo && f.object.photo.file.present?
                .placeholder.pull-right
                  %span.button.button-small.button-round
                    %i.icon.icon-dots
                    = t 'spina.pages.photo_picker'
                .image
                  = image_tag f.object.photo.file.thumb
              - else
                .placeholder
                  %span.button.button-small.button-round
                    %i.icon.icon-dots
                    = t 'spina.pages.photo_picker'

              = f.hidden_field :photo_id, data: { hidden_field_id: 'photo_id' }
        %tr
          %td
            Publish date
          %td
            = f.text_field :publish_date, value: (@article.publish_date.strftime("%d-%m-%Y") unless @article.new_record?), class: 'datepicker'
        %tr
          %td
            Author
          %td
            = f.text_field :author
        %tr
          %td
            Draft?
          %td
            = f.check_box :draft, data: { switch: true }

  %button.button.button-primary{ type: 'submit', data: { icon: 'o' } }
    Save article

  = link_to "Cancel", spina.admin_articles_path, class: 'button button-link'

  - unless @article.new_record?
    .pull-right= link_to "Delete", spina.admin_article_path(@article), method: :delete, confirm: "Are you sure you want to remove this article?", class: 'button button-link button-danger'
