- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs
    = render_breadcrumbs seperator: '<div class="divider"></div>'
    = link_to articles_path, target: :blank, class: 'button button-hollow button-small' do
      %i.icon.icon-export{style: 'margin: 0'}

  #header_actions
    %span
      = link_to spina.new_admin_article_path, class: 'button button-primary' do
        = icon('plus')
        =t('spina.articles.new', scaffold_name: t('spina.articles.scaffold_name'))

.well
  - if @articles.any?
    .dd
      %ol.dd-list
        = render partial: 'article', collection: @articles
  - else
    %em
      =t('spina.articles.empty', scaffold_name: t('spina.articles.scaffold_name_plural'))

:scss
  .article-status {
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s;
    width: 7px;

    &.live {
      background-color: #3adb76;
      z-index: 1;
    }

    &.draft {
      background-color: #767676;
    }

    &.scheduled {
      background-color: #1779ba;
    }
  }

  .dd-item:hover {
    .article-status {
      opacity: 0.7;
      width: 9px;
    }
  }
