- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs= render_breadcrumbs seperator: '<div class="divider"></div>'
  #header_actions
    %span
      = link_to spina.new_admin_article_path, class: 'button button-primary' do
        = icon('plus')
        =t('spina.articles.new', scaffold_name: t('spina.articles.scaffold_name'))

.well
  - if @articles.any?
    .dd#pages_list
      %ol.dd-list
        = render partial: 'article', collection: @articles
  - else
    %em
      =t('spina.articles.empty', scaffold_name: t('spina.articles.scaffold_name_plural'))
